.trackings {
    max-width: 770px;
}
.trackings .line-parent {
    position: relative;
}
.trackings .line::before {
    position: absolute;
    left: 20%;
    top: 0;
    content: ' ';
    display: block;
    width: 4px;
    height: 100%;
    background-color: #969696;
    z-index: 5;
}
.trackings .point::before {
    position: absolute;
    left: 21%;
    top: 15px;
    margin-left: -7px;
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    background-color: #fff;
    z-index: 6;
    border-radius: 50%;
    border: 4px solid #c51c00;
}
.trackings .in {
    color: #c51c00;
}
.trackings .out {
    color:#969696;
}
